{{ define "main" }}

<section class="home-intro">
  <p>
    the internet for me an inhabited garden
  </p>
</section>

<nav class="home-nav" aria-label="Main navigation">
<p><a href="{{ "about/" | relURL }}">about</a></p>
  <p><a href="{{ "poems/" | relURL }}">browse poems</a></p>
  <p><a href="{{ "quotes/" | relURL }}">browse quotes</a></p>
  <p><a href="{{ "recently-added/" | relURL }}">recently added</a></p>
  <p><a href="{{ "recently-updated/" | relURL }}">recently updated</a></p>
</nav>

{{ end }}